@{
    ViewData["Title"] = "Home Page";
}

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/assets/css/templatemo-seo-dream.css">

<div class="main-banner wow fadeIn" id="top" data-wow-duration="0.5s" data-wow-delay="0.2s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.6s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Ôn Thi Bằng Lái Xe Dễ Dàng</h2>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-green-button scroll-to-section">
                                        <a href='@Url.Action("DanhSachLoaiBangLai", "BaiThi")'>Ôn Thi Ngay </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="features-item first-feature wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0s" onclick="window.location.href='@Url.Action("LoaiBangLaiOTo", "BaiThi")'"
                                 style="cursor: pointer;">
                                <div class="first-number number">
                                    <h6>01</h6>
                                </div>

                                <div>
                                    <i class="fa fa-car icon-big"></i>
                                </div>
                                <h4>Ôn Thi GPLX Ô Tô </h4>
                                <div class="line-dec"></div>
                                <p>Bộ đề 600 câu hỏi lý thuyết ô tô.</p>

                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="features-item second-feature wow fadeInUp"
                                 data-wow-duration="0.6s" data-wow-delay="0.2s"
                                 onclick="window.location.href='@Url.Action("LoaiBangLaiXeMay", "BaiThi")'"
                                 style="cursor: pointer;">
                                <div class="second-number number">
                                    <h6>02</h6>
                                </div>
                                <div>
                                    <i class="fa fa-motorcycle icon-big"></i>
                                </div>
                                <h4>Ôn Thi GPLX Máy</h4>
                                <div class="line-dec"></div>
                                <p>Bộ đề 200 câu hỏi lý thuyết xe máy.</p>

                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="features-item first-feature wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.4s" onclick="window.location.href='@Url.Action("Index", "MoPhong")'">
                                <div class="third-number number">
                                    <h6>03</h6>
                                </div>
                                <div>
                                    <i class="fa-solid fa-road icon-big"></i>
                                </div>
                                <h4>Ôn Thi Mô Phỏng</h4>
                                <div class="line-dec"></div>
                                <p>Bộ đề 120 tình huống mô phỏng xe ô tô</p>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="features-item second-feature  wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s" onclick="window.location.href='@Url.Action("DanhSachLoaiBangLai", "BaiThi")'">
                                <div class="fourth-number number">
                                    <h6>04</h6>
                                </div>
                                <div>
                                    <i class="fa-solid fa-cube icon-big"></i>
                                </div>
                                <h4>Ôn Tập Toàn Bộ</h4>
                                <div class="line-dec"></div>
                                <p>Ôn toàn bộ các bằng lái xe hiện có.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">
                    <img src="~/assets/images/15.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.3s">
                <div class="section-heading">
                    <!-- <h6>About Us</h6> -->
                    <h2>Chinh Phục <span>Kỳ Thi Bằng Lái Xe </span> Dễ Dàng - Tự Tin <span> Vượt Qua Kỳ Thi Lý Thuyết!</span></h2>
                    <!-- <h2>Top <em>marketing</em> agency &amp; consult your website <span>with us</span></h2> -->
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="about-item">
                            <h4>600</h4>
                            <h6>Câu hỏi Ô tô</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="about-item">
                            <h4>200 </h4>
                            <h6>Câu hỏi xe máy</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="about-item">
                            <h4>120 </h4>
                            <h6>Tình huống - mô phỏng </h6>
                        </div>
                    </div>
                </div>
                <p><a rel="nofollow" href="https://templatemo.com/tm-563-seo-dream" target="_parent">Lái Xe Chuẩn</a> tự hào là nền tảng ôn thi lý thuyết bằng lái xe đáng tin cậy, được xây dựng dựa trên bộ đề chuẩn hóa và cập nhật mới nhất theo quy định của Bộ GTVT. Với hệ thống luyện tập thông minh, giao diện thân thiện và tính năng thi thử mô phỏng sát thực tế, chúng tôi giúp bạn ôn tập một cách khoa học, tiết kiệm thời gian mà vẫn đạt hiệu quả tối đa. Hàng ngàn thí sinh đã tin tưởng lựa chọn và đạt kết quả cao ngay từ lần thi đầu tiên – giờ đây, đến lượt bạn chinh phục kỳ thi một cách dễ dàng và tự tin hơn bao giờ hết!</p>
                <div class="main-green-button"><a href="#">Luyện Tập Ngay </a></div>
            </div>
        </div>
    </div>
</div>



<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="" method="post" style="max-width: 750px; margin: auto;">
                    <div class="section-heading text-center" style="margin-bottom: 30px;">
                        <h6>Đăng Ký</h6>
                        <h2>Đăng ký ngay để <span>lưu tiến trình</span>, theo dõi kết quả và <em>ôn tập</em> hiệu quả hơn!</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="text" name="surname" id="surname" placeholder="Họ" autocomplete="on" required
                                       style="font-size: 14px; padding: 8px; width: 100%; margin-bottom: 25px;">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="text" name="name" id="name" placeholder="Tên" autocomplete="on" required
                                       style="font-size: 17px; padding: 8px; width: 100%; margin-bottom: 25px;">
                            </fieldset>
                        </div>

                        <div class="col-lg-12">
                            <fieldset>
                                <input type="tel" name="phone" id="phone" pattern="[0-9]{10,11}" placeholder="Số điện thoại" required
                                       style="font-size: 17px; padding: 8px; width: 100%; margin-bottom: 25px;">
                            </fieldset>
                        </div>
                        <div class="col-lg-12 text-center">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-button"
                                        style="font-size: 19px; padding: 15px; width: 100%;">
                                    Đăng Ký
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>